* {
    box-sizing: border-box;
    padding: 0;
    transition: all .5s ease;
}

body {
    height: auto;
    background: rgba(255, 85, 85, 1);
    background: -moz-linear-gradient(top, rgba(255, 85, 85, 1) 0%, rgba(255, 255, 85, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255, 85, 85, 1)), color-stop(100%, rgba(255, 255, 85, 1)));
    background: -webkit-linear-gradient(top, rgba(255, 85, 85, 1) 0%, rgba(255, 255, 85, 1) 100%);
    background: -o-linear-gradient(top, rgba(255, 85, 85, 1) 0%, rgba(255, 255, 85, 1) 100%);
    background: -ms-linear-gradient(top, rgba(255, 85, 85, 1) 0%, rgba(255, 255, 85, 1) 100%);
    background: linear-gradient(to bottom, rgba(255, 85, 85, 1) 0%, rgba(255, 255, 85, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff5555', endColorstr='#ffff55', GradientType=0);
}

.section>.container:nth-child(1) {
    width: 1000px;
    height: auto;
    margin: 100px auto 0 auto;
    position: relative;
    border-radius: 100px;
    background-color: orange;
    background: rgba(68, 68, 255, .7);
    background: -moz-linear-gradient(top, rgba(68, 68, 255, .7) 0%, rgba(85, 255, 0, .7) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(68, 68, 255, .7)), color-stop(100%, rgba(85, 255, 0, .7)));
    background: -webkit-linear-gradient(top, rgba(68, 68, 255, .7) 0%, rgba(85, 255, 0, .7) 100%);
    background: -o-linear-gradient(top, rgba(68, 68, 255, .7) 0%, rgba(85, 255, 0, .7) 100%);
    background: -ms-linear-gradient(top, rgba(68, 68, 255, .7) 0%, rgba(85, 255, 0, .7) 100%);
    background: linear-gradient(to bottom, rgba(68, 68, 255, .7) 0%, rgba(85, 255, 0, .7) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4444ff', endColorstr='#55ff00', GradientType=0);
}

.section {
    position: relative;
}

.header,
.content,
.footer {
    margin: 50px auto;
    text-align: center;
}

h1,
h3 {
    display: inline-block;
    text-align: center;
}


/* nav start */

.navbar {
    position: fixed;
    width: 100vw;
    height: 50px;
    z-index: 200;
    background-color: rgba(255, 255, 255, .6);
    border: none;
}


/* nav end */


/* carousel start */

.carousel {
    position: relative;
}

.carousel:before {
    content: "我的生活紀錄";
    background-color: rgba(255, 255, 255, 0);
    display: inline-block;
    position: absolute;
    color: white;
    font-size: 60px;
    left: 25vw;
    top: 20vh;
    z-index: 100;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, .7);
}


/* carousel end */


/* calender start */

td {
    border: 1px solid black;
    padding-top: 0;
    height: 50px;
    width: 100px;
    position: relative;
}

table {
    width: 900px;
    height: 800px;
    padding: 0;
    margin: 10px auto;
}

table,
.week>td,
.month-title {
    border: 2px solid black;
    border-collapse: collapse;
    text-align: center;
}

.week>td,
.month-title {
    font-size: 50px;
}

.day-number {
    display: block;
    top: 0;
    left: 0;
    font-size: 20px;
    height: 30px;
    width: 10px;
    float: left;
    clear: both;
    position: absolute;
}

.event {
    border: .5px solid red;
    background-color: orange;
    border-radius: 20px;
    color: black;
    cursor: default;
    clear: both;
}

.weekly-event {
    border: .5px solid purple;
    background-color: lightskyblue;
    border-radius: 20px;
    color: black;
    cursor: default;
    clear: both;
}

td.space {
    color: rgba(0, 0, 0, .3)
}

td:nth-child(even) {
    color: rgba(255, 255, 255, 1);
}

tr:nth-child(3) td:nth-child(odd) {
    color: rgba(255, 255, 255, 1)
}

tr:nth-child(3) td:nth-child(even) {
    color: rgba(0, 0, 0, 1)
}

td.space {
    color: rgba(0, 0, 0, .3)
}

#July,
#August {
    display: inline-block;
}

.month-title {
    color: white;
}


/* description start */

.Tue-Thu,
.Wed-Fri,
.Sat,
.Computer {
    width: 257px;
    height: 300px;
    bottom: 0;
    left: 124px;
    margin: 50px 10px;
    border: 1px solid black;
    float: left;
    background-color: #aaa;
    border-radius: 15px;
}

.competition {
    width: 534px;
    height: 300px;
    bottom: 0;
    left: 124px;
    margin: 50px 10px;
    border: 1px solid red;
    float: left;
    background-color: orange;
    border-radius: 15px;
}

.time {
    margin-top: 5px;
    width: 257px;
    height: 15px;
}

.activity {
    margin: 20px;
    margin-bottom: 23px;
    width: 237px;
    height: 35px;
    text-align: left;
}

.Activity {
    margin: 20px;
    margin-bottom: 23px;
    width: 494px;
    height: 35px;
    text-align: left;
}

img {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.lbr {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 0;
}

.rbr {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 15px;
}


/* description end */


/* calender end */


/* footer */

.footer {
    width: calc(100vw-100px);
    height: 100px;
    bottom: 0;
    background-color: #aaa;
    margin: 50px 0 0 0;
}

.link {
    text-decoration-line: none;
    float: right;
    margin: auto 50px;
    line-height: 100px;
    height: 80px;
    font-size: 50px;
}

a.link:hover {
    text-decoration-line: none;
    font-size: 60px;
    float: right;
    margin: auto 50px;
    line-height: 100px;
    height: 80px;
}
